body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #e5e5e5;
}
.header{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    box-sizing: border-box;
    font-weight: 700;
}
.wrap{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.nav{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    font-size: 14px;
    align-items: center;
}
.nav>li{
    margin-left: 15px;
}
.nav>li>a{
    text-decoration: none;
    color: #202020;
}
.nav_btn{
    color: #ffffff;
    border-radius: 5px;
    background-color: #5528ff;
    padding: 10px 15px ;
    border: none;
    font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img{
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg.svg);
    margin-right: 20px;
}
.logo_text{
    font-size: 24px;
    color: #202020;
    text-align: center;
}
.title-main{
    font-size: 56px;
    font-weight: 700;
    color: #202020;
}
.text-main{
    font-size: 32px;
    font-weight: 400;
    color: #4F4F4F;
    line-height: 1.5;
}
.button{
    color: #ffffff;
    border-radius: 10px;
    background-color: #5528ff;
    padding: 10px 45px ;
    border: none;
    font-weight: 400;
    font-size: 24px;
}
.page{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.page-top{
    border-top: 1px solid #C2C2C2;
}
.page h2{
    position: absolute;
    top: -25px;
    font-size: 14px;
    font-weight: 300;
    color: #C2C2C2;
    padding: 5px 15px;
    background-color: #e5e5e5;
}
.services{
    display: grid;
}